:root {
	--maincolor: #0e4935;
	--secondcolor: #F58A2E; 
}

/* ===============================================
   General styles
   ============================================== */

body { 
	font-family: "Work Sans";
}

.logoimage {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
header {
	padding: 20px 0;
	border-bottom: 1px solid rgba(127, 90, 5, 1);
}

.nav-link {
	color: hsla(0,0%,74.90196078%,1);
	font-weight: 500;
}

.nav-item.active {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.thememain {
	background-color: var(--maincolor);
	color: hsla(0,0%,74.90196078%,1);
}

.themegray {
	background-color: #909090;
	color: hsla(0,0%,89.02%,1);
}

.themelight {
	background-color: #e3e3e3;
	color: hsla(55.38,6.22%,59.02%,1);
}
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

   .carousel-item {
	height: 500px;
  }
  
  .carousel-item img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  min-height: 500px;
  }

  .themegrayborder {
	border: 1px solid #04dc65;
	padding: 10px;
  }

  .commitment {
	font-size: 20px;
	font-weight: 500;
  }

#headerwrap {
	margin-top: 100px;
	text-align: center;
	background-position: center center;
	height: 500px;
	width: 100%;
	background-size: cover;
}
#headerwrap h1 {
	margin-top: 200px;
	font-size: 50px;
	font-weight: 400;
}
#headerwrap p {
	font-size: 22px;
	font-weight: 300;
}
#headerwrap span {
	padding: 3px;
	color: #ffffff;
	background-color: var(--maincolor);
}
#headerwrap .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 0;
	background-color: var(--maincolor);
	color: #fff;
	border-radius: 5px;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
	background-color:#fff;
	color:#000; 
	outline: 0px;
	border-radius: 5px;
}

.space {
	padding: 20px 0;
}
.headspace {
	padding: 80px 0;
}
.pr-10 {
	padding-right: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
.colored {
	color: var(--maincolor);
}
.secondcolored {
	color: var(--secondcolor);
}
.bgcolored {
	background-color: var(--maincolor);
}
.colorlightgreen {
	color: #04dc65;
}

#about {
	background: #FFF;
	padding: 100px 0;
}
#websiteservices {
	background: #FFFFFF;
	padding-top: 100px;
}
#mobileservices {
	background: #FFFFFF;
	padding: 100px 0;
}

.isotope-container {
	overflow: hidden;
}
.isotope-item {
	margin-bottom: 40px;
}

#portfolio {
	background: black;
	color: #fff;
	padding: 50px 0 20px 0;
}
#contact {
	padding-bottom: 100px;
}
#aboutus {
	padding-bottom: 100px;
}

.pt100 {
	padding-top: 100px;
}

.pb100 {
	padding-bottom: 100px;
}

.ptb50 {
	padding: 50px 0;
}



/* ==========================================
   MEDIA QUERIES
   ======================================== */
@media screen and (max-width:1050px), screen and (max-device-width:1050px) {}

@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {}

@media screen and (max-width:769px) {
	.headspace {
		padding: 100px 0;
	}
}
@media screen and (max-width:480px) {
	.headspace {
		padding: 100px 0;
	}
}